<script src="{{jsFunc}}"></script>
<script>
    let s = "{{style}}";
    console.log(s);
</script>

{{> header}}

{{!- form to submit search request--}}

<h1>Find books!</h1>
<div class="search-books-container" id="search-books-container">
    <input type="text" placeholder="Search..." name="search" class="search-input" id="search">
    <button type="button"  onkeyup="myFunc()" onclick="fetchWorks(document.getElementById('search').value)" class="search-button"><i class="fas fa-search"></i></button>
</div>
<section class="books-of-search" id="books-of-search">
</section>
{{> footer}}

{{book}}

<button type="button" onclick="doRandom()">Here!</button>
