#favourite-link{
    background-color: var(--orange-ish);
}

h1{
    padding: 20px 10px;
}

.delete-fav-book, .edit-fav-book{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    margin: 5px 0;
}

.delete-fav-book:hover, .edit-fav-book:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.edit-fav-book{
    background-color: var(--green-btn);
}


.delete-fav-book{
    background-color: var(--red-btn);
}

.btn-separator{
    padding: 10px;
}
