#home-link{
    background-color: var(--orange-ish);
}


.search-input{
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid var(--blue-ish);
    border-radius: 5px;
    background-color: var(--pink-ish);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}


.search-button{
    background-color: var(--blue-ish);
    cursor: pointer;
    border-radius: 50%;
}
.fa-search{
    display: inline-block;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
}


h1{
    padding: 15px 20px 0 20px;
}



.fa-star{
  font-size: 25px;
}

.save-book-btn{
    background-color: white;
    cursor: pointer;
    border: none;
}



@media screen and (max-width: 600px){
    .search-input{
        width: 80%;
        margin-bottom: 5px;
    }
}


/* favorite books*/
