#home-link{
    background-color: var(--orange-ish);
}


.search-button{
    background-color: var(--blue-ish);
    cursor: pointer;
    border-radius: 50%;
}
.fa-search{
    display: inline-block;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
}


h1{
    padding: 15px 20px 0 20px;
}



.fa-star{
  font-size: 25px;
}

.searched-book:hover .save-book-btn{
    background-color: var(--pink-ish);
}
.save-book-btn{
    background-color: white;
    cursor: pointer;
    border: none;
}


