*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-red: #731C13;
    --orange-ish: #BF3612;
    --orange: #F24F09;
    --black-ish: #070E13;
    --blue-ish: #183040;
    --pink-ish: #f8f3e9;
 }
body{
    background-color: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica;
}

header{
    background-color: var(--dark-red);
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px;
}

header nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header nav a:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    background-color: var(--orange);
}
footer{
    margin-top: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    background-color: var(--dark-red);
    color: white;
}

h1{
    font-size: 30px;
    text-align: center;
}

/*books styling*/
.search-books-container, .fav-books{
    padding: 10px;
    text-align: center;
}

.books-of-search .searched-book{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.searched-book>p{
    padding-bottom: 10px;
}

.searched-book{
    border-bottom: 2px solid var(--black-ish);
    border-top: 2px solid var(--black-ish);
}
.searched-book:hover{
    background-color: var(--pink-ish);
}

.searched-book:hover .save-book-btn{
    background-color: var(--pink-ish);
}
.book-title-author{
    font-size: 20px;
    font-weight: bold;
}

.book-title-author>span{
    font-weight: normal;
    font-style: italic;
    display: block;
    color: var(--orange-ish);
}

.extra-book-info>span{
    padding: 0 10px;
}
