*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-red: #731C13;
    --orange-ish: #BF3612;
    --orange: #F24F09;
    --black-ish: #070E13;
    --blue-ish: #183040;
    --pink-ish: #fff1c3;
    --red-btn: #dc0912;
    --green-btn: #2dd251;
 }
body{
    background-color: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica;
}

header{
    background-color: var(--dark-red);
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px;
    z-index: 10;
}

header nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header nav a:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    background-color: var(--orange);
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    background-color: var(--dark-red);
    color: white;
}

h1{
    font-size: 30px;
    text-align: center;
}

/*search bar*/
.search-books-container, .search-fav-books-container{
    padding: 10px;
    text-align: center;
}

.search-input{
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    border: 2px solid var(--blue-ish);
    border-radius: 5px;
    background-color: var(--pink-ish);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}

/*books styling*/
.books-of-search, .fav-books{
    padding-bottom: 100px;
    padding-top: 20px;
}

.books-of-search .searched-book, .fav-books .my-fav-book{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.searched-book>p, .my-fav-book>p{
    padding-bottom: 10px;
}

.searched-book, .my-fav-book{
    border-top: 2px solid var(--black-ish);
}
.searched-book:hover, .my-fav-book:hover{
    background-color: var(--pink-ish);
}

.book-title-author{
    font-size: 20px;
    font-weight: bold;
}

.book-title-author>span{
    font-weight: normal;
    font-style: italic;
    display: block;
    color: var(--orange-ish);
}

.extra-book-info>span{
    padding: 0 10px;
}

/*buttons*/
.delete-fav-book, .edit-fav-book, .save-edit-btn, .discard-edit-btn{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    margin: 5px 0;
}

.delete-fav-book:hover, .edit-fav-book:hover, .save-edit-btn:hover, .discard-edit-btn:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.edit-fav-book, .save-edit-btn{
    background-color: var(--green-btn);
}


.delete-fav-book, .discard-edit-btn{
    background-color: var(--red-btn);
}

.btn-separator{
    padding: 10px;
}
